
body {
background-image:url("../media/bk002.jpg");
}
.body {
font-family:vazirbk;
text-align:center;
}
#vazir {
font-family: vazirbd;
}
#sahelb {
font-family: SahelBlack;
}


////  🔴 تیتر بالا 🔴 ///
header {

}
	.divhead {
	width:390px;
	border:4px ridge gold;
	border-radius: 10px;
	}
	header>div>img {
	width:380px;
	}
	.head-t {
	position:absolute;
	text-align:right;
	margin-top:30px;
	}
	.head-t0 {
	font-size:60px;
	color: lightgreen;
	margin-right:40px;
	text-shadow:3px 3px 0 black, -3px -3px 0 black;
	}
	.head-t1 {
	font-size:60px;
	color: orange;
	text-shadow:3px 3px 0 black, -3px -3px 0 black;
	}
	.head-t2 {
	font-size:30px;
	color: brown;
	margin-right:30px;
	}

////  🔴 تیتر پایین 🔴 ///
footer {

}