
body {
direction:rtl;
font-family:irsbold;
font-size:15px;
}
h2 {
font-family:titr2;
margin:5px;
color:brown;
}
.caution {
font-family:parastoobold;
color:black;
border:5px double brown;
background-image: linear-gradient(180deg,yellow,green);
width:95%;
font-size:18px;
margin:10px 0 10px 0;
}
header {
width:1060px;
min-height:125px;
border:3px solid black;
background-image:url("media/fram02.jpg");
margin:2px;

}
	.datetime-bar {
	width:100%;
	height:44px;
	background-color:black;
	border:2px solid brown;
	color:yellow;
	margin-top:20px;
	font-size:15px;
	}
	.datetime-bar table {
	margin: 2px 2px 2px 2px;

	}
	.datetime-bar table > tbody > tr {

	}
	.datetime-bar table > tbody > tr > th {
	background-color:navy;
	padding:1px;
	margin: 0 1px 0 1px;
	border:1.5px solid white;
	font-family:irsblack;
	font-size:20px;
	text-align:center;
	color:white;
	}
	.datetime-bar table > tbody > tr > th:hover {
	color:yellow;
	text-decoration:none;
	background-color:green;
	}
		.time {
		width:130px;
		font-family:lalezar;
		font-size:24px;
		text-align:left;
		border-radius:15pt;
		padding:1px;
		color:;
		}
		.date {
		width:150px;
		height:30px;
		font-family:lalezar;
		color:lightgreen;
		font-size:25px;
		text-align:center;
		border-radius:15pt;
		padding:1px;
		color:;
		}
/* ⚠️⚠️⚠️ ‌🇧‌🇴‌🇩‌🇾 ⚠️⚠️⚠️ */
.tbody {
text-align:center;
}
.td {
width:171px;
}
.th {
width:646px;
}
.r-menu {
width:200px;
min-height:1000px;
border:2px solid black;
border-radius:4px;
padding-right:2px;
margin:0 3px 0 0;
background-image: linear-gradient(270deg,lightblue,white);
}
.l-menu {
position:absolute;
margin:0 860px 0 0;
width:200px;
min-height:1000px;
border:2px solid black;
border-radius:4px;
background-image: linear-gradient(270deg,lightblue,white);
}

	.m-tit {
	width:191px;
	border:1px solid black;
	border-radius:8px 8px 0 0;
	min-height:30px;
	margin-top:3px;
	  background-image:url("./media/myban1.jpg");
	color:white;
	text-align:center;
	}
	.m-tit > p {
	text-align:center;
	font-family:titr1;
	font-weight:1000;
	font-size:27px;
	margin-top:5px;
	color:white;
	text-shadow:2px 2px 4px black, -2px -2px 2px black;
	}
	.m-body {
	width:191px;
	border:2px solid black;
	min-height:200px;
	padding:5px;
	}
	.m-body> p {
	border-top:1px solid black;
	font-size:18px;
	font-family:irsbold;
	padding:3px;
	}
	.m-body> p:hover  {
	background-color:orange;
	font-family:irsblack;
	border-radius:5px;
	font-size:18px;
	color:navy;
	
	}
	
	}
	.menu {
	
	}
	.menu .box1 {
	width:250px;
	min-height:100px;
	background-color:black;
	border:2px solid gold;
	border-radius:2px 2px 10px 10px;
	}
	.menu .box1 .box2 {
	width:230px;
	margin:5px;
	background-color:lightyellow;
	min-height:80px;
	}
	.menu .box1 .box2 p:hover {
	background-color:black;
	color:gold;
	}
	.men-box-p {
	
	}
	cab {
	width:100%;
	}
	cab > ul > li {
	border-top:0.5px solid black;
	font-family:irsblack;
	font-size:17px;
	color:#003000;
	width:160px;
	}
	cab > ul > li:hover {
	font-family:irsblack;
	font-size:17px;
	width:150px;
	border-radius:5px;
	background-color:orange;
	}
	.nemad-text {
	width:90%;
	text-align:center;
	background-image:linear-gradient(90deg,yellow,gray);
	}
.body {
position:absolute;
width:650px;
margin-right:105px;
border:4px groove navy;
border-top:0px;
border-radius:10px 10px 0 0;
min-height:1000px;
background-color:silver;
margin: 0 205px 0 0;
}
	.body .title {
	  background-image:url("./media/blue.ban1.webp");
	  height:40px;
	  width:100%;
	  border:0.5px solid black;
	  border-radius:10px 10px 0 0;
	  font-family:lalezar;
	  font-weight:100;
	  font-size:20px;
	  color: yellow;
	  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
	  text-align:right;
	  padding-top:1px
	}
	.img-tit {
	position:absolute;
	}
	.body .subbody {
	width:98%;
	margin: 10px 5px 10px 5px;
	padding-bottom:20px;
	padding: 0 0px 20px 0px;
	border-right: 3px ridge navy;
	border-left:3px groove navy;
	border-radius: 10pt 10pt 0 0;
	min-height:100px;
	background-image: linear-gradient(120deg,lightblue,lightyellow);
	}
	.body .subbody .subtitle {
	border-radius:9pt 9pt 0 0;
	min-height:40px;
	padding:3px;
	}
	.body .subbody .subtitle .sb-text {
		margin:0 20px 0 0;
		color:white;
		}
	.dt-text {
	margin-right:50px;
	font-family:vazirbd;
	font-size:14px;
	color:pink;
	text-align:left;
	}
	.subbody .matn {
	display:inline-block;
	padding:5px 10px 5px 10px;

	}
footer {
border:2px solid red;
height:200px;
}
.hr {
width:95%;
border-top:0.5px solid brown;
}
.myhr1 {
border-top:4px dotted brown;
width:85%;
margin: 10px 0 0px 0;
}
.myhr2 {
border-top:4px dotted darkgreen;
width:95%;
margin:2px 0 10px 0;
}
.kadr0 {

border:1px solid black;
border-radius:10px 0 0 10px;
padding:5px 5px 10px 5px;

}
.kadr {
width:60%;
border:2px solid gray;
border-radius:15px;
background-color:black;
color: gold;
padding:5px;
}
	.kadr> table {
	text-align:center;
	}
	.kadr> table > thead > tr > th {
	font-family:titr1;
	font-size:20px;
	}
	.kadr > table > tbody > tr > td {
	font-family:led07;
	font-size:50px;
	color:gold;
	}
.kadr2 {
padding:5px 5px 10px 5px;
background-image:linear-gradient(0deg, black, gray);
min-height:100px;
transform:80%;
border:1px solid black;
border-radius:0 10px 10px 0;

}
q {
color:red;
font-family:parastoo;
font-size:10npx;
font-weight:600;
}
p {
font-family:yekan;
font-weight:1000;
text-align:justify;
margin: 1px;
}
button  {
font-family:irsblack;
font-size:16px;
width:80%;
border:1px solid black;
}
.head {
font-size:50px;
text-align:center;
color:lightyellow;
text-shadow: 3px 3px 9px black,-3px -3px 9px black;
font-family:sahelblack;

}
#center {
text-align:center;
}
.reg> p {
font-family:samin;
font-size:14px;
text-align:justify;
margin:10px 20px 10px 20px;
}
	p2 {
	font-family:irsbold;
	font-size:14px;
	text-align:justify;
	margin:5px 20px 10px 5px;
	color:navy;
	}
	p3 {
	font-family:yekan;
	font-weight:1000;
	font-size:14px;
	text-align:justify;
	margin: 5px 20px 5px 20px;
	color: brown;
	}
	p4 {
	font-family:tanha;
	font-size:13px;
	color:lightgreen;
	font-weight:1000;
	}
	.p5 {
	font-family:sahelblack;
	color:white;
	border:1px solid gold;
	border-radius:5px;
	width:97%;
	margin:2px;
	background-color:brown;
	text-align:center;
	border-style:;
	}
li {
font-size:13.5px;
margin-right:-10px;
}
i {
font-size:25px;
color:white;
}
paein {
margin:100px 20px 0 20px;
border:2px solid black;
min-height:200px;
width:100px;
}

.titrcol {
font-family:irsblack;
font-size:20px;
text-align:center;
width:98%;
height:60px;
border-top-right-radius:5pt;
border-top-left-radius:5pt;
color:yellow;
border:2px ridge darkblue;
border-bottom:1px solid darkblue;
background-image:url("./media/blue.ban1.webp");
}
.titrcol2 {
font-family:parastoobold;
font-size:20px;
text-align:center;
width:98%;
height:60px;
border-top-right-radius:5pt;
border-top-left-radius:5pt;
color:yellow;
border:2px ridge red;
border-bottom:1px solid red;
background-image:url("./media/red.ban2.webp");
}
.footcol {
width:98%;
height:15px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
font-size:15px;
border-top:1px solid black;
border-right:2px ridge darkblue;
border-left:2px ridge darkblue;
border-bottom:2px ridge darkblue;
background-image:url("./media/blue.ban1.webp");
}
.footcol2 {
width:98%;
height:25px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
font-size:15px;
border-top:0.5px solid black;
border-right:2px ridge gray;
border-left:2px ridge gray;
border-bottom:2px ridge gray;
background-image:url("./media/red.ban2.webp");
}
.txtbody {
border-right:3px ridge darkblue;
border-left:3px ridge darkblue;
width:98%;
min-height:120px;
font-family:vazirm;
font-size:15px;
}

.infoform {
background-color:#E9FFDD;
width:98%;
border:2px ridge black;
border-radius:5px;
margin:-33px 5px 0 0;
min-height:100px;
}
.txtbody2 {
border-right:3px ridge brown;
border-left:3px ridge brown;
width:98%;
min-height:120px;
font-family:vazirm;
font-size:15px;
}
.txtbody2 {
border-right:3px ridge red;
border-left:3px ridge red;
width:98%;
min-height:120px;
font-family:vazirm;
font-size:15px;
}

.ban-img {
	width:100%;
	height:40pt;
	border:2px solid black;
	border-radius:7px;
	margin-top:-86pt;
		}
.banner {
position:absolute;
margin-right:10px;
	}
.txt2pic {
font-family:titr1;
font-weight:bolder;
font-size:25pt;
margin-right:10px;
margin-top:-48pt;
text-shadow:-3px -3px 3px white,1px 1px 0px white;
color:black;
}
i {
font-size:30px;
color:yellow;
}
.new {

}
	.new > p {
	font-family:irsblack;
	font-size:15px;
	}
	.new > p:hover {
	background-color:orange;
	width:95%;
	border: 2px solid white;
	border-radius:10pt;
	color:white;
	font-size:17px;
	}
	.new > p > i {
	font-size:22px;
	margin-right:20px;
	}
	.hr1 {
	border-top:1.5px solid gray;
	width:95%;
	}




.stoon {
width:250px;
min-height:200px;
text-rendering:10px;;
}
.ax {
width:350px;
position:absolute;
margin-right:255px;
margin-top: -200px;
}
.myalert {
			width:93%;
			min-height:40px;
			border:2px solid black;
			border-radius:3px 3px 10px 10px;
			margin-top:1px;
			background-color:black;
			font-family:irslight;
			font-size:16px;
			direction:rtl;
			text-align:right;
}